.left-box {
  width: 50%;
  float: left;
}

.left-box-text {
  padding-left: 50px;
  padding-top: 40px;
  text-align: left;
  padding-right: 8%;
  display: inline-block;
}
.welcome-text {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 3.2rem;
  padding-bottom: 30px;
  align-items: center;
  color: #816868;
}

.top-left-sub-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 540;
  font-size: 1.6rem;
  line-height: 1.1rem;
  color: #816868;
  float: left;
  letter-spacing: 0.5px;
}

@media (min-width: 0px) and (max-width: 1404px) {
  .cute-plant {
    display: none;
  }
}

hr {
  position: fixed;
  width: 50%;
  border: 1px solid #816868 !important;
}

.container {
  padding-top: 3%;
  padding-left: 3% !important;
  float: left;
}

.image {
  padding-bottom: 15px;
  width: 175px;
  height: 175px;
}

.check-information-text {
  padding-top: 5%;
  padding-left: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 540;
  font-size: 1.6rem;
  line-height: 1.1rem;
  color: #816868;
  letter-spacing: 0.5px;
}

.spin {
  position: fixed;
  top: 50%;
  left: 50%;
}

.col-photo {
  cursor: pointer;
}
