.image {
  float: left;
}

.image-reminder {
  float: left;
  width: 120px;
  height: 120px;
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 1%;
}

.click-here {
  padding-left: 70%;
  color: #358b59;
}

.paragraphs {
  padding-top: 2%;
}

.first-line {
  margin-left: 5%;
  margin-right: 5%;
  border: 1px dashed #816868;
}

.sequent-line {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  border: 1px dashed #816868;
}

.reminders-text {
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 540;
  font-size: 1.6rem;
  line-height: 1.1rem;
  color: #816868;
  letter-spacing: 0.5px;
}

.right-box {
  width: 50%;
  float: right;
}

u {
  color: #358b59;
}
