.homepage {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: none;
  background: #f6efed;
  background-size: cover;
}

.middle-line {
  position: fixed;
  height: 80%;
  left: 50%;
  top: 10%;
  border: 1px solid #816868;
}
