.App {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(./images/background.png);
  background-size: cover;
}

.App-header {
  background-color: #A5DFB2;
  width: auto;
  height: auto;
}

.Logo-img {
  display: flex;
  padding: 15px;
}

.white-text {
  font-family: Roboto;
  font-style: italic; 
  font-weight: 300; 
  color: white !important;
  font-size: 36px !important;
  line-height: 42px !important;
}

.spacing {
  padding-right: 35px !important;
}
